<h1>+EVlive App</h1>
<p>This is the home page for the <a href="http://plusevlive.com/">+EVlive App</a></p>

<p>signed_in? returns: "<%= signed_in? -%>"</p>

<%= link_to "Sign Up!", signup_path, :class => "btn_signup round" -%>